### import libraries

In [4]:
import pandas as pd

### read file and inspect file

In [7]:
ad_clicks = pd.read_csv('ad_clicks.csv')
ad_clicks.head()

,user_id,utm_source,day,ad_click_timestamp,experimental_group
0,008b7c6c-7272-471e-b90e-930d548bd8d7,google,6 - Saturday,7:18,A
1,009abb94-5e14-4b6c-bb1c-4f4df7aa7557,facebook,7 - Sunday,NaN,B
2,00f5d532-ed58-4570-b6d2-768df5f41aed,twitter,2 - Tuesday,NaN,A
3,011adc64-0f44-4fd9-a0bb-f1506d2ad439,google,2 - Tuesday,NaN,B
4,012137e6-7ae7-4649-af68-205b4702169c,facebook,7 - Sunday,NaN,B

### seperate views by utm source

In [8]:
utm_source  = ad_clicks.groupby("utm_source").user_id.count().reset_index()
utm_source

  utm_source  user_id
0      email      255
1   facebook      504
2     google      680
3    twitter      215

### create a column to check clicks

In [10]:
ad_clicks["is_click"] =  ad_clicks.ad_click_timestamp.isnull()
ad_clicks.is_click

0       False
1        True
2        True
3        True
4        True
        ...
1649     True
1650     True
1651     True
1652    False
1653     True
Name: is_click, Length: 1654, dtype: bool

### find percent of clicks by utm source

In [18]:
clicks_by_source = ad_clicks.groupby(["utm_source","is_click"]).user_id.count().reset_index()
#print(clicks_by_source)
clicks_pivot = clicks_by_source.pivot(columns = "is_click",index="utm_source",values = "user_id")
#print(clicks_pivot)
clicks_pivot["percent_clicked"] = clicks_pivot[True]/(clicks_pivot[True] + clicks_pivot[False]) *100
clicks_pivot

is_click    False  True  percent_clicked
utm_source
email          80   175        68.627451
facebook      180   324        64.285714
google        239   441        64.852941
twitter        66   149        69.302326

### Analyzing an A/B Test

In [27]:
# group by ads
group_by_ad  = ad_clicks.groupby("experimental_group").user_id.count().reset_index()
group_by_ad
#group by clicks
group_by_click = ad_clicks.groupby(["experimental_group","is_click"]).user_id.count().reset_index()
group_by_click
# find the percentage of clicks
# pivot the table for easier analyses
group_by_click_piv=group_by_click.pivot(columns = "is_click",index="experimental_group",values = "user_id").reset_index()
group_by_click_piv
group_by_click_piv["percent"] = group_by_click_piv[True]/(group_by_click_piv[True] + group_by_click_piv[False]) *100
group_by_click_piv

is_click experimental_group  False  True    percent
0                         A    310   517  62.515115
1                         B    255   572  69.165659

### group click data by days

In [28]:
a_clicks = ad_clicks[ ad_clicks.experimental_group == 'A']
b_clicks = ad_clicks[ ad_clicks.experimental_group == 'B']
a_clicks
group_by_day_a = a_clicks.groupby(["day","is_click"]).user_id.count().reset_index()
group_by_day_a_pivot = group_by_day_a.pivot(columns ="is_click",index ="day" ,values="user_id" )
#print(group_by_day_a_pivot)
group_by_day_a_pivot["percent"]= group_by_day_a_pivot[True]/(group_by_day_a_pivot[True] + group_by_day_a_pivot[False]) *100
print(group_by_day_a_pivot["percent"])

group_by_day_b = b_clicks.groupby(["day","is_click"]).user_id.count().reset_index()
group_by_day_b_pivot = group_by_day_b.pivot(columns ="is_click",index ="day" ,values="user_id" )
group_by_day_b_pivot["percent"]= group_by_day_b_pivot[True]/(group_by_day_b_pivot[True] + group_by_day_b_pivot[False]) *100
print(group_by_day_b_pivot["percent"])

day
1 - Monday       61.946903
2 - Tuesday      63.865546
3 - Wednesday    69.354839
4 - Thursday     59.482759
5 - Friday       60.156250
6 - Saturday     61.864407
7 - Sunday       60.550459
Name: percent, dtype: float64

In [ ]:
#11 recommendation 
ans = "i recommend ad B to the company as it has better results overall in terms in of number of add clicks."
print(ans)